body{
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
    background-color: #0A0A0A;
}
header{
    background-color:rgb(161, 148, 160);
    color:black;
    padding:1px; 
    position: sticky;
    top:0px;
    z-index:10;
}
nav ul{
    display:flex; 
}
nav ul li{
    font-size:0.7rem;
    margin:-10px 10px;
    color:rgb(0, 0, 0);
    font-style: italic;
}
nav a{
    color: white;
    text-decoration: none;

}
nav h1{
    border:0px solid black;
}
.selection{
    text-align: center; 
    margin:  auto; 
    padding:10px; 
    background: #1A1A1A;
    width:80%;
    min-width:450;
    border-radius:20px;
    margin-top: 20px; 
    
}
.seating{
    margin-right: auto;
    margin-left: auto;
    padding: 10%;
    justify-content: center;
}
.seating1{
    display: flex;
    margin-top: -40px;
}
.seating2{
    margin-bottom: -50px;
}
.column1{
    margin-right :4rem;
}
 .column2{
    margin-right: 4rem;
} 

.row1{
    display: flex;
    gap: 10px;
    align-items: center;
}
 .row1-label {
    width: 20px;
} 
input[type="checkbox"] { 
    display: none;
} 
label{
    height:30px;
    width: 30px;
    border: 0.5px solid black;
    border-radius: 6px;
    background-color: #22C55E;
    cursor: pointer;
    transition: 0.3s;
}
label:hover{
    background: #38BDF8;
}

input[type="checkbox"]:checked + label {
    background: #A855F7;
}
input[type="checkbox"]:disabled + label {
    background: #404040;
    cursor: not-allowed;
}
.last {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 5px;

} 

.available {
    font-size: xx-large;
    color: white;
}

.selected {
    font-size: xx-large;
    color: white;
}

.booked {
    font-size: xx-large;
    color: white;
}
.row1{
    gap: 6px;
    margin-bottom: 5px;
}
.checkout{
    background-color: gray;
    padding:10px;
    height:fit-content;
    border-radius:10px;
    margin:10px auto;
    width:60%;
    max-width:300px;
}



.screen{
  width: 70%;
  height: 10px;
  margin: 40px auto 60px;
  background: #00E5FF;
  border-radius: 50%;
  box-shadow:
    0 0 10px rgba(0, 229, 255, 0.9),
    0 0 25px rgba(0, 229, 255, 0.6);
  transform: perspective(600px) rotateX(-25deg);
}


.navbar{
    display: flex;
    justify-content: space-evenly;
    background:#f1ece7;
    border-radius:20px;
    margin-top:10px;

}


span{
    color:#000000 ;
    font-size:2.8rem;
}
.d1{
    text-align: left;
}
.d2{
    text-align: right;
    
}
.pay{
    text-align: center;
    width:80%;
    margin:10px auto;
    background:#ff6600 ;
    color:black;
    border-radius:5px;
    font-weight: 800;
    font-size:1.3rem;
    padding:5px;
    transition: all 0.3s ease; 
}
.pay:hover{
    background-color:#ed6d18 ;
    transform: scale(1.2);
}
table{
    width:95%;
    margin: auto;
}
.h1{
    text-align:left;
}
.h2{
    color:#000000;
    text-align: right;
    font-size: 1.5rem;
}
.d3{
    text-align: right;
}
.sese{
    display:flex;
    justify-content: start;
    gap:10px;
   
}
.ses{
    background:#ff6600;
    width:35px;
    color:black;
    font-weight: 800;
    border-radius:3px;
    padding: 3px;
    text-align: center;
    border:2px solid black;


}
.logopic
{
     height:50px; width: 45px;
    background-image: url("./ticket booking website logo 2.jpg");
    background-size: cover;
}
.offers{

    margin:10px auto;
}
hr{
    border-color: #131212;
}
.rowname{
    font-size: medium;
    color: #FAFAFA;
}
